version: '3'

services:
  jetson-sc1-pod:
    image: ariqbasyar/fogverse:inference-gpu-jetson-sc1
    volumes:
      - ./logs/:/app/logs/
    environment:
    - CAM_ID=1
    ports:
      - "5000:5000"
    restart: always
    devices:
    - /dev/video0:/dev/video0
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 2700M
        reservations:
          devices:
            - capabilities: [gpu]
