[Unit]
Description=Run kafka zookeeper.

[Service]
Type=simple
ExecStart=/bin/bash /home/ariqbasyar/kafka_2.13-3.1.0/start-zookeeper.sh

[Install]
WantedBy=multi-user.target
